POINTPAY_DB_NAME=pointpay
POINTPAY_DB_USERNAME=pointpay
POINTPAY_DB_PASSWORD=change-me-for-local
POINTPAY_DB_URL=jdbc:postgresql://localhost:5432/pointpay
POINTPAY_POSTGRES_PORT=5432
POINTPAY_REDIS_HOST=localhost
POINTPAY_REDIS_PORT=6379
